{% extends 'base.html' %}

{% block title %} 
about
{% endblock title %} 

{% block body %}
<div>
    <div class="container-fluid   px-0 ">
        <img src="https://source.unsplash.com/1600x400/?self" class="d-block w-100     " alt="...">
</div>
<div class="container">
    <h1 class="text-topcorner">about Us..</h1>
    <h5 class="text">
       miracleIceCream Company Deliciously creative ice cream websites are tempting. Since websites reveal the personality of the brand, businesses must consider using their color scheme on their websites. Connoisseur utilizes black as the primary color which makes the website look elegant and sleek. It has a straightforward intro page with images, CTA and headlines. Specifically, the pages of this website have a unique layout. The screen is divided into three columns with vertical sliders on both sides while the center is scrollable. Since it is easier for a sticky header to provide user-friendly navigation, Connoisseur ensures that such a feature is never missed. Basically, the menu includes sticks, tubs, cookies, media, the story and contact.
        <h5>
    <form method ="post" action ="/about">
    {% csrf_token %}
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">© 2021 - 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>
{% endblock body %}
